/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

@font-face  {
   font-family: "Baron";
   src:url("fonts/baron/BaronNeueItalic.eot");
   src: local('☺'),
      url("fonts/baron/BaronNeueItalic.eot?#iefix") format("embedded-opentype"),
      url("fonts/baron/BaronNeueItalic.woff") format("woff"),
      url("fonts/baron/BaronNeueItalic.ttf") format("truetype"),
      url("fonts/baron/BaronNeueItalic.svg#ProcionoRegular") format("svg");
   font-weight:normal;
   font-style:normal
}

/* Header Title */
.header-title {
  font-family: 'Baron';
  font-style: oblique;
}

.header-102 {
  color: indianred;
}

.header-slash {
  color: #2183a7;
}

.header-somerton {
  color: darksalmon;
  // color: maroon;
}

.nav-toggle {
  margin-top: 1.5em;
}

/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}

// Small screens
@media only screen { 

} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .header-title-link {
    font-size: 1.3em;
  }
} 
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { 
  .header-title {
    margin-bottom: -0.5em !important;
  }

  .header-title-link {
    font-size: 2.5em;
  }
} 
/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 73em) { 
  .header-title {
    margin-bottom: -0.5em !important;
  }

  .header-title-link {
    font-size: 3.2em;
  }
} 
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 73.063em) { 
  .header-title {
    margin-bottom: -0.5em !important;
  }

  .header-title-link {
    font-size: 4.2em;
  }
} 
/* min-width 1025px, large screens */

@media only screen and (min-width: 73.063em) and (max-width: 90em) { 
  .header-title {
    margin-bottom: -1em !important;
  }

  .header-title-link {
    font-size: 4.2em;
  }
} 
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
  .header-title {
    margin-bottom: -1em !important;
  }

  .header-title-link {
    font-size: 4.2em;
  }
} 
/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
  .header-title {
    margin-bottom: -1em !important;
  }

  .header-title-link {
    font-size: 4.2em;
  }
} 
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { 
  .header-title {
    margin-bottom: -1em !important;
    margin-left: -1em;
  }

  .header-title-link {
    font-size: 4.5em;
  }
} 
/* min-width 1921px, xlarge screens */

@media only screen and (min-width: 120.063em) and (max-width: 700em) { 
  .header-title {
    margin-bottom: -1em !important;
    margin-left: -1em;
  }

  .header-title-link {
    font-size: 4.5em;
  }
} 
/* min-width 1921px, xlarge screens */


/*  PRODUCT PAGE SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.section-title {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

/*  GRID OF THREE           ============================================================================= */
@media only screen and (min-width: 480px) {
  .span_3_of_3 {
    width: 100%;
  }

  .span_2_of_3 {
    width: 66.1%;
  }

  .span_1_of_3 {
    width: 32.2%;
  }

  /*  COLUMN SETUP  */
  .col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
  }

  .col:first-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .section {
    width: 100%; /* fix for Firefox */
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .a {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-flex-order: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .b {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-flex-order: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}


